PORT=8080
NODE_ENV=development
DB_HOST=db
DB_PORT=5432
DB_NAME=finanecuador
DB_USER=postgres
DB_PASSWORD=postgres
DB_SYNC_ALTER=true
JWT_SECRET=finanecuador-super-secret-academic-key-2026
FRONTEND_URL=http://localhost:5173
